h1 {
    font-size: 7em;
}

img {
    width: 109%;
}

.container {
    font-family: Chalkduster;
    margin-top: 95px;
    div {
        width: 50%;
        float: left;
    }
    p {
        font-size: 1.2em;
        text-align: center;
    }
}

.message {
    margin: 6% 0;
    padding-left: 6%;
}