table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.container-form,
.container-table {
    width: 50%;
    float: left;
}

.container-form {
    width: 30%;
    float: left;
    padding: 4% 0%;
}

.container-table {
    width: 70%;
    float: left;
    padding: 6% 0 8% 7%;
    tr td:last-child {
        border: none;
        display: inline-flex;
    }
}

.color {
    width: 20px;
    height: 20px;
}

.button {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
}

.button--delete {
    background-image: url('../../../assets/img/delete-button.png')
}

.button--edit {
    background-image: url('../../../assets/img/edit-button.png')
}